@CHARSET "UTF-8";

body{
	font-family:"Myriad Pro","Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
	height:100%;
	background-color:#666666;
}

html{
	height:100%;
}

#page{
	padding-top:10px;
	padding-bottom:10px;
}


h5
{
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	color:#aaa;	
}

#tabs{
	margin-bottom:4px;
	padding:10px 0;
}

#main form p 
{ 
	position:relative; 
	display:block; 
}

#main form br{display:none;}

input, textarea{
	border:1px solid #CCCCCC;
	font-size:12px;
}

input.textInput
{
	width:378px;
	position:static;
	margin-bottom:4px;
	
	
}

#savingContent{
	position:fixed;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.8;
	top:0;
	left:0;
	z-index:999;
		display:none;
}

#savingInfo
{
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:710px;
	text-align:center;
	margin-top:auto;
	margin-bottom:auto;
	height:100px;
	padding-top:100px;

}

#savingInfo h3{
	font-weight:normal;
	margin:0;
}


.etiqueta { 
	position:absolute; 
	top:0; 
	left:0;
	margin: 1px 0 0 4px;
}

#main hr
{
	margin: 10px 0 5px 0;
	border-style:dashed;
}

#main p, #main h5
{
	margin-bottom:5px;	
}

#recordingInfo{
	color:#aaa;
	font-style:italic;
	display:none;
}

#descripcion
{
	height:75px;
}



#page{
	
	width:100%;

	background-color:#666;	
}

.content{
	width:720px;
	display:inline;
	float:left;
	position:relative;
	margin-left:110px;
	background-color:white;
	padding-top:10px;
}

.paso{
	
	background-color:#006544;
	color:white;
	margin-bottom:10px;
	text-align:center;
	
}

div.pasoActivo
{
	background-color:#006544;
}

.bloque
{
	margin-bottom:10px;
}

#map
{
	height:260px;
	
}

.error
{
	background-color:#a60300;
	color:white;
	padding:4px;
	margin:4px 0 4px 0;
	display:none;		
}

#fecha{
	position:static;
}

#uploadButton
{
	background-color:#006544;
	color:white;
	height:30px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.progressWrapper {
	overflow: hidden;
}

.progressContainer {
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.mensaje {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {

}

/* Complete */
.blue {

}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:4px;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
	display:none;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

.captchaImg
{
	margin-bottom:10px;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}
